.input{
    background: 0 0;
    border: none;
    border-radius: 28px;
    padding: 0 18px;
    line-height: 56px;
    height: 56px;
    font-size: 22px;
    color: #444;
    text-align: center;
    width: calc(100% - 36px);
    margin-top: 0;
    background-color: white;
}
.searchDiv{
    width: 100%;
}